main {
    margin-top: 50px;
    position: relative;
}

.main__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.bg-decoration {
    position: absolute;
    right: -50px;
    bottom: 0px;
    z-index: -1;
}